<ion-header>
  <div class="color-update">
    <br>
    <ion-title class="ion-text-center modal-title">
      <ion-text color="light">Modificar grupo</ion-text>
    </ion-title>
    <br>
  </div>
</ion-header>

<ion-content class="ion-text-center">
  <br>
  <h1>Vista previa</h1>
  <div *ngIf="myRelation" class="horizontal-scroll">
    <table class="table-centering">
      <thead>
        <tr class="cell-header">
          <th>Desastre natural</th>
          <th>Grupo de apoyo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-model="myRelation" class="cell-row">
          <td>{{myRelation.relation.disasterId}}</td>
          <td>{{myRelation.relation.hgroupId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>

  <div id="record-editor-background">
    <br><br>
    <div *ngIf="myRelation" class="horizontal-scroll">
      <table class="table-centering">
        <thead>
          <tr class="cell-header">
            <th>Desastre natural</th>
            <th>Grupo de apoyo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cell-row">
            <td>
              <ion-item>
                <ion-input type="number" required [(ngModel)]="myRelation.relation.disasterId" placeholder="id existente"></ion-input>
              </ion-item>
            </td>
            <td>
              <ion-item>
                <ion-input type="number" required [(ngModel)]="myRelation.relation.hgroupId" placeholder="id existente"></ion-input>
              </ion-item>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br><br>
  </div>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-row>
    <ion-col size="6" id="container-confirm"><ion-button native color="primary" (click)="recordUpdate(myRelation.relation.disasterId, myRelation.relation.hgroupId)">Confirmar</ion-button></ion-col>
    <ion-col size="6" id="container-cancel"><ion-button native color="danger" (click)="closeModel()">Cancelar</ion-button></ion-col>
  </ion-row>
</ion-footer>