<ion-footer class="ion-no-border footer">
  <ion-toolbar>
    <div id="footer">
      <br>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col class="ion-align-items-center content-center" size="8.05">
            <ion-row>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/politica-de-privacidad">Política de privacidad</a></ion-col>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/politica-de-cookies">Política de Cookies</a></ion-col>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/aviso-legal">Aviso Legal</a></ion-col>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/contacto">Contacto</a></ion-col>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/quejas-y-reclamaciones">Quejas y Reclamaciones</a></ion-col>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/total-transparencia-copyright">Transparencia</a></ion-col>
              <ion-col class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/accesibilidad">Accesibilidad</a></ion-col>
              <ion-col></ion-col> 
            </ion-row>
            <br>
            <a class="content-center">© Aplicación diseñada por Brian García Gómez</a>
          </ion-col>
          <ion-col size="1.1">
            <ion-col><a href="#"><ion-icon name="logo-facebook"></ion-icon> </a></ion-col>
            <ion-col><a href="#"><ion-icon name="logo-twitter"></ion-icon> </a></ion-col>
            <ion-col><a href="#"><ion-icon name="logo-instagram"></ion-icon> </a></ion-col>
            <ion-col><a href="#"><ion-icon name="logo-youtube"></ion-icon> </a></ion-col>
            <ion-col><a href="#"><ion-icon name="logo-linkedin"></ion-icon> </a></ion-col>
            <ion-col><a href="#"><ion-icon name="globe"></ion-icon> </a></ion-col>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-footer>