<ion-footer class="ion-no-border footer">
  <ion-toolbar>
    <div id="footer">
      <div class="box">
        <h5>Redes Sociales</h5>
        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon> Instragram
        </a>
        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon> Facebook
        </a>
        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon> Twitter
        </a>
      </div>
      <div class="box">
        <h5>Redes Sociales</h5>
        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon> Instragram
        </a>
        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon> Facebook
        </a>
        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon> Twitter
        </a>
      </div>
      <div class="boxCopyright">
        <hr>
        <p>Todos los derechos reservados © 2021<b>Christian Alexander Moreno</b></p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>