<div id="footer">
  <br>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col></ion-col>
      <ion-col size="12" size-md="9.20" size-lg="8.05">
        <ion-row>
          <ion-col size="4.5" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/politica-de-privacidad">Política de privacidad</a></ion-col>
          <ion-col size="4.5" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/politica-de-cookies">Política de Cookies</a></ion-col>
          <ion-col size="3" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/aviso-legal">Aviso Legal</a></ion-col>
          <ion-col size="2.49" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/contacto">Contacto</a></ion-col>
          <ion-col size="3.5" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/quejas-y-reclamaciones">Quejas y Reclamaciones</a></ion-col>
          <ion-col size="3" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/total-transparencia-copyright">Transparencia</a></ion-col>
          <ion-col size="3" size-sm="" class="block"><a class="styless small-gray" href="httos://www.itccanarias.org/web/es/accesibilidad">Accesibilidad</a></ion-col>
          <ion-col size=0.01></ion-col> 
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="2.63" size-lg="2.2">
        <ion-col><a href="https://www.facebook.com/Instituto-Tecnológico-de-Canarias-ITCGobCan-225070347507117/"><ion-icon name="logo-facebook"></ion-icon> </a></ion-col>
        <ion-col><a href="https://twitter.com/ITCCANARIAS"><ion-icon name="logo-twitter"></ion-icon> </a></ion-col>
        <ion-col><a href="https://www.instagram.com/explore/tags/itccanarias"><ion-icon name="logo-instagram"></ion-icon> </a></ion-col>
        <ion-col><a href="https://www.youtube.com/c/cognosfera"><ion-icon name="logo-youtube"></ion-icon> </a></ion-col>
        <ion-col><a href="https://www.linkedin.com/company/instituto-tecnol-gico-de-canarias/"><ion-icon name="logo-linkedin"></ion-icon> </a></ion-col>
        <ion-col><a href="https://www.itccanarias.org/virtualtour/"><ion-icon name="globe"></ion-icon> </a></ion-col>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <div class="ion-text-center"><a>© Aplicación hecha por Brian García Gómez</a></div>
  <br>
</div>