#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


// #footer { background-color: rgb(222, 222, 222); }


// These for CSS specifications separate content by three columns so text can be justified to center
.column { 
  float: left; 
  text-align: justify;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1150px) {
  .left, .right { width: 10%; }
  .middle { width: 80%; }
}

@media only screen and (min-width: 1150px) {
  .left, .right { width: 17.5%; }
  .middle { width: 65%; }
}