<ion-toolbar>
  <div id="header-primary">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-row>
            <ion-col size="12" size-lg=""><ion-button color="primary" size="large" href="/home">  <img src="../../../assets/icon/logo-app.PNG" height="60px" width="70px"> Menú principal  </ion-button></ion-col>
            <ion-col size="4" size-sm="3" size-lg=""><ion-button native color="light">Desastre</ion-button></ion-col>
            <ion-col size="4" size-sm="3" size-lg=""><ion-button native color="light">relación</ion-button></ion-col>
            <ion-col size="4" size-sm="3" size-lg=""><ion-button native color="light">Grupo</ion-button></ion-col>
            <ion-col size="12" size-sm="3" size-lg=""><ion-button native color="light">Miembros</ion-button></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <div id="header-secondary">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-text-center">
          <ion-col size="11" size-md="4.88" size-lg="3.77"><img src="../../../assets/icon/ITC_GC.png" height="75px" width="300px"></ion-col>
          <ion-col size="0.01" size-sm=""></ion-col>
          <ion-col size="6" size-sm="5.90" size-md=""><ion-button native color="light" Fill="solid" Expand="block">Registro</ion-button></ion-col>
          <ion-col size="6" size-sm="5.90" size-md=""><ion-button native color="light" Fill="solid" Expand="block" href="/us">Conócenos</ion-button></ion-col>
          <ion-col size="0.01" size-lg=""></ion-col>
        </ion-row>
      </ion-grid>
    </div>

   <br>
  </div>
</ion-toolbar>