<ion-header>
  <div class="color-create">
    <br>
    <ion-title class="ion-text-center modal-title">Crear grupo de apoyo</ion-title>
    <br>
  </div>
</ion-header>

<ion-content>
  <br><br><br>
  <table class="table-centering">
    <thead>
      <tr class="cell-header">
        <th>Tarea</th>
        <th>Ubicación</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cell-row">
        <td>
          <ion-item>
            <ion-select [(ngModel)]="task" placeholder="Propósito">
              <ion-select-option value="Evacuation">Evacuación</ion-select-option>
              <ion-select-option value="Rescue">Rescate</ion-select-option>
              <ion-select-option value="Supplies">Abastecimiento</ion-select-option>
              <ion-select-option value="Multitask">Multitarea</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td>
          <ion-item>
            <ion-input type="text" required [(ngModel)]="place" placeholder="Ubicación"></ion-input>
          </ion-item>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <table class="table-centering">
    <thead>
      <tr class="cell-header">
        <th>Creación</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cell-row">
        <td>
          <ion-item>
            <ion-datetime [(ngModel)]="creation" displayFormat="YYYY-MM-DD"></ion-datetime>
          </ion-item>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-row>
    <ion-col size="6" id="container-confirm"><ion-button native color="primary" (click)="recordCreate(task, place, creation)">Crear</ion-button></ion-col>
    <ion-col size="6" id="container-cancel"><ion-button native color="danger" (click)="closeModel()">Cancelar</ion-button></ion-col>
  </ion-row>
</ion-footer>