#container {
    text-align: center;
  
    left: 0;
    right: 0;
}

#background-soft-blue { background-color: rgb(215, 232, 250) !important; }
#background-bluish { background-color: rgb(163, 197, 233); }