.text-dark-gray { color: rgb(88, 88, 88); }
.text-blue { color: blue }

// centering of ion-card & carousel
.centered {
  
  text-align: center !important;
  // margin: auto !important;
  width: auto !important;
  @media only screen and (max-width: 800px) {
      // display: contents !important;
  }
}


.background-very-weak-gray { background-color: rgb(240, 240, 240); }



// These for CSS specifications separate content by three columns so text can be justified to center
// .column { 
//   float: left; 
//   text-align: justify;
// }
  

// .left, .right { width: 10%; }
// .middle { width: 80%; }
  
// @media only screen and (min-width: 1150px) {
//   .left, .right { width: 17.5%; }
//   .middle { width: 65%; }
// }




/* {box-sizing:border-box} */
/* Slideshow container */
.slideshow-container {
  // max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: left;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 21px;
  // padding: 8px 12px;
  // position: absolute;
  // bottom: -20px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}